/*Marquesina del conocenos.html empieza aqui*/
body{
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 100%;
        display: block;  

        /*IMAGEN RESPONSIVA*/
    background-image: url("img/Castor_Inincio_Comiendo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* width: 105%; */
    margin-left: -8px;
}

body::-webkit-scrollbar {
    margin-top: 50px;
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
     display: none;  /*Ocultar scroll */
} 

body::-webkit-scrollbar-thumb {
    background: #69b329dd;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #74c42dce;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
    background-color: #69b329fe;
}

#Conocenos{
    display: -1px;   
}


/*Marquesina del conocenos.html termina aqui*/
main{
    position: relative;
    z-index: -10;

    /* IMAGEN RESPONSIVA
    background-image: url("img/Castor_Inincio_Comiendo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 105%;
    margin-left: -8px; */
}

.contenedorFlex{
    width: 100%;
    /* margin-left: -2%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.informacion{
    margin-top: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: -65%; */
    border-radius: 10px; /* Redondear los bordes con un radio de 10px */
    margin-bottom: 1%;
    background-color: rgba(83, 83, 83, 0.228);
}

/* #Mision{
    background-color: rgba(0, 255, 64, 0.228);
}

#Vision{
    background-color: rgba(0, 255, 242, 0.228);
}

#Valores{
    background-color: rgba(8, 206, 67, 0.228);

} */


.titulosConocenos{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}

.textoConocenos{
    width: 95%;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: white;
    text-shadow:
    1px 1px 2px black,
    0 0 1em rgba(0,0,0,0.18),
    0 0 0.2em rgba(0,0,0,0.18);
    text-align: justify;
    margin-top: -1%;
    line-height: 1.7rem;
    
}
