body{
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
    display: block;
}

button{
    cursor: pointer;
    pointer-events: auto;

}

main{
    margin-top: -12%;
    margin-left: -9px;
    z-index: -5;
    position: relative;
}

#Bienvenida{
    display: -1px;
    
}

#Bienvenida img{
    width: 120%;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: -4;
    margin-top: -5%;
}